/* body ::before {
    display: block;
    content: '';
    height: 60px;
} */

@media (min-width: 768px) {
    .news-input {
        width: 50%;
    }
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
}

.fullscreen-video {
    position: relative;
    top: 56px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 250px);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: none;
    border-bottom: none;
}

.video-container video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video-container video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}